# App

Django==1.10.2
djangorestframework==3.4.6
slothauth==0.6.1
django-mobile==0.7.0
celery==3.1.24
#django-celery==3.1.17
git+https://github.com/celery/django-celery
kombu==3.0.37
protobuf==3.0.0

# Channels

channels===0.17.2
daphne===0.15.0
asgi_redis===0.14.1
psycopg2==2.6.2

# Logging
opbeat==3.4.0

# DevOps

gunicorn==19.6
dj-database-url==0.4.1
django-storages==1.5.0
django-boto==0.3.9
django-cors-headers==1.2.2

# Testing

factory_boy==2.7.0

# Utility

django-extensions==1.7.2
Werkzeug==0.11.10
PyYAML==3.11
