@import "../base";
@import "../includes/common";

*,
*:after,
*:before {
    box-sizing: border-box;
}

// HEADER

.header-container {
    @include flexbox-display-flex();
    @include flexbox-justify-content(space-between);
    @include flexbox-align-items(flex-start);
    position: relative;
    z-index: $very-top;
    width: 100%;
    background: $black;
    font-family: $font-medium;
}

// DASHBOARD

.deployments-list {
    position: relative;
    width: 200px;
    padding: 10px;
    //margin: 0 auto;

    color: $pure-white;
    outline: none;
    cursor: pointer;

    font-weight: bold;

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-style: solid;
        border-color: transparent $pure-white;
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        background: $pure-white;
        font-weight: normal;

        opacity: 0;
        pointer-events: none;

        li {
            &:hover {
                a {
                    background: $white;
                }
            }

            a {
                display: block;
                text-decoration: none;
                color: $grey;
                padding: 10px 20px;
            }
        }
    }
}

.deployments-list.active {
    background: $darker-grey;
    background: linear-gradient(to right, $darker-grey 0%, $darker-grey 78%, $pure-white 78%, $pure-white 100%);

    &:after {
        border-color: $darker-grey transparent;
        border-width: 6px 6px 0 6px ;
        margin-top: -3px;
    }

    .dropdown {
        opacity: 1;
        pointer-events: auto;
    }
}