@import "../base";
@import "../includes/common";

#home_container {
  @include flexbox-display-flex();
  @include flexbox-justify-content(center);
  @include flexbox-align-items(flex-start);
  width: 100%;

  @include media("<=1300px") {
    @include flexbox-justify-content(flex-start);
  }

  #popular_tags_container {
    width: 280px;
    height: 100%;
    left: 0px;
    position: fixed;
    background-color: $pure-white;
    box-sizing: border-box;
    border-right: 1px solid $lighter-grey;

    .popular_tags_content {
      padding: 30px;

      .popular_tags_title {
        font-family: $font-regular;
        font-size: 14px;
        color: $black;
        margin-bottom: 20px;
      }

      .popular_tags {
        @include flexbox-display-flex();
        @include flexbox-flex-direction(column);
        @include flexbox-justify-content(flex-start);
        @include flexbox-align-items(flex-start);
      }

      .popular_tags > .tag_container ~ .tag_container {
        margin-top: 10px;
      }
    }
  }

  #dashboard_content_container {
    @include flexbox-display-flex();
    @include flexbox-justify-content(center);
    @include flexbox-align-items(flex-start);

    @include media("<=1300px") {
      margin-left: 323px;
    }

    #dashboard_content {
      width: 640px;
      margin-top: 40px;

      #dashboard_feed_container {
        margin-top: 50px;
      }

      #dashboard_feed_container > .song_container ~ .song_container {
        margin-top: 35px;
      }
    }
  }
}
