{% load staticfiles %}
<title>Scintilla</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<style>
@font-face {
    font-family: "Roboto-Light";
    src: url({% static 'fonts/Roboto-Light.ttf' %}) format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url({% static 'fonts/Roboto-Regular.ttf' %}) format("truetype");
}
@font-face {
    font-family: "Roboto-Medium";
    src: url({% static 'fonts/Roboto-Medium.ttf' %}) format("truetype");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url({% static 'fonts/Roboto-Bold.ttf' %}) format("truetype");
}
@font-face {
    font-family: "Roboto-Black";
    src: url({% static 'fonts/Roboto-Black.ttf' %}) format("truetype");
}
@font-face {
    font-family: "FontAwesome";
    src: url({% static 'fonts/fontawesome-webfont.ttf' %}) format("truetype");
}
</style>

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/common/favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/common/favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/common/favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/common/favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/common/favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/common/favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/common/favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/common/favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/common/favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/common/favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/common/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/common/favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/common/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/common/favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'images/common/favicon/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
