{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link href="{% static 'build/css/common/includes/header.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'vendor/javascript/wavesurfer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/javascript/dropzone.min.js' %}"></script>
{% include 'common/includes/head-angular.html' %}
{% endblock %}

{% block content %}
<div id="loading">
    <div class="loading-pulse">

    </div>
</div>
<dashboard></dashboard>
{% endblock %}
